* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    padding: 24px;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}